body{
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  background: rgb(181,165,170);
}


main{
    /* -------- Changed margin  --------*/
    margin: 20px 10px 20px 10px;
    /* margin:top right bottom left */
    display: flex;
    flex-wrap: wrap;
}

.flexItem{
    flex-basis: 300px;
    flex-grow:1;
    /* -------- Changed margin  --------*/
    margin: 1% 10px;
    background: rgb(255, 255, 255, 0.5);
    /* -------- Changed padding  --------*/
    padding:30px;
}

h2{
  color: black;
}


img{
    width: 100%;
    display: block;
    margin: 1% auto 1% auto;
    border: 0;
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 350px;
}

button{
  position: absolute;
  bottom: 8%;
  right: 5%;
  background: none;
  padding: 5px;
  border: 2px black solid;
  color: black;
  font-size: 1.3em;
  border-radius: 5px;

}

.about-hero{
  background-image: url("img/about.jpg");
  /* add img name above */
  height: 400px;
  background-size: cover;
  background-position: center;
  /* background stuff above */
  /* moving text below */
  position: relative;
}

nav{
  background: rgb(255,255,255, 0.3);
  /* height: 60px; */
  text-align: center;
  font-family: 'Fjalla One', Helvetica, sans-serif;
}
/* styles for hero or feature */
.hero{
  background-image: url("img/hair.jpg");
  height: 400px;
  background-size: cover;
  background-position: center;
  /* background stuff above */
  /* moving text below */
  position: relative;
}

.hero h2{
  position: absolute;
  bottom: 20%;
  right:5%;
}

nav a{
  text-align: center;
  color: white;
  font-size: 1.5 em;
  padding: 15px;
  margin: 10px;
  display: inline-block;
  text-decoration: none;

}

nav a:hover{
  text-decoration: underline;

}

footer{
  background:rgba(0,0,0, 0.8);
  padding: 40px;
}

footer p{
color:white;
}

footer a{
  color: white;

}


/* about style */

/* medium screen size below --------- */
@media screen and (min-width: 700px) {
        .logo{
            /* width:350px; */
        }
        img{
            display: inline;
            width:30%;
        }

        .flexItem{
            /* changed margin below */
            margin:10px;

        }



}
/* large screen styles below */
@media screen and (min-width: 1300px) {
