body{
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: black;
}


main{
    margin: 20px auto 20px auto;
    display: flex;
    flex-wrap: wrap;

}

.flexItem{
  flex-basis: 300px;
  flex-grow: 2;
  margin: 2px;
  background-color: yellow;
  padding:30px;
}

h2{
  color: white;
}


img{
    width: 100%;
    display: block;
    margin: 1% auto 1% auto;
    border: 0;
}

nav{
  background: grey;
  /* height: 60px; */
  text-align: center;
  font-family: 'Fjalla One', Helvetica, sans-serif;
}

nav a{
  text-align: center;
  color: white;
  font-size: 1.5 em;
  padding: 15px;
  margin: 10px;
  display: inline-block;
  text-decoration: none;

}

nav a:hover{
  text-decoration: underline;

}


@media screen and (min-width: 700px) {
        img{
            width:30%;
            display: inline;
        }
        .virtical{
          width: 20%;
        }
        .flexItem{
          height: 400px;
        }
}

@media screen and (min-width: 1300px){
  img{
    display: none;
  }
}
